<footer>
  <div class='footer-left'>
    <a
      href='https://www.linkedin.com/in/katja-turnsek-943a45328/'
      rel='noopener noreferrer'
      target='_blank'
    >LinkedIn</a>
  </div>
  <div class='footer-right'>
    <p>&copy; 2025</p>
  </div>
</footer>