<header>
  <div class='header-left'>
    <a href='{{base}}' aria-label='Go to home'>
      <img
        src='{{baseHref}}assets/images/logo-katjadev-dark.svg'
        alt='Katja Dev Logo'
        class='site-logo logo'
        loading='eager'
      />
    </a>
  </div>

  <div class='header-controls'>
    <button id='theme-toggle' class='theme-switcher' aria-label='Toggle Theme'></button>

    <button
      id='menuToggle'
      class='menu-toggle'
      aria-haspopup='dialog'
      aria-controls='menu'
      aria-expanded='false'
    >
      <span class='visually-hidden'>Open menu</span>
      <svg class='icon' aria-hidden='true'><use href='#i-menu' /></svg>
    </button>
  </div>
</header>