<header>
  <div class='header-left'>
    <a href='{{base}}' aria-label='Go to home'>
      <img
        src='{{baseHref}}assets/images/logo-katjadev-dark.svg'
        alt='Katja Dev Logo'
        class='site-logo logo'
        loading='eager'
      />
    </a>
  </div>
  <div class='header-controls'>
    <button id='theme-toggle' class='theme-switcher' aria-label='Toggle Theme'></button>
    <button class='menu-toggle' id='menuToggle' aria-label='Toggle menu'>
      <i class='fas fa-bars'></i>
    </button>
  </div>
</header>