<div class='fullscreen-menu' id='menu' role='dialog' aria-modal='true'>
  <div
    class='menu-waves'
    data-light-src='{{baseHref}}assets/images/waves-light.webp'
    data-dark-src='{{baseHref}}assets/images/waves-dark.webp'
  ></div>

  <a href='{{baseHref}}'>
    <img
      src='{{baseHref}}assets/images/logo-katjadev-dark.svg'
      alt='Katja Dev Logo'
      class='site-logo site-logo-menu'
      loading='eager'
    />
  </a>

  <button class='menu-toggle opened' id='menuClose' aria-label='Close menu'>
    <i class='fas fa-times'></i>
  </button>

  <nav>
    <a href='#work'>Work</a>
    <a href='#about'>About</a>
    <a href='#contact'>Contact</a>
  </nav>
</div>