/* buttons, forms, cards, toggle switch, etc. */

/* Theme Toggle */
#theme-toggle {
  position: absolute;
  top: 70px;
  right: 140px;
  z-index: 999;
  width: 55px;
  height: 27px;
  background-color: var(--switch-circle);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

#theme-toggle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-color: var(--switch-bg);
  border: var(--circle-border);
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dark-theme #theme-toggle::before {
  transform: translateX(30px);
}

/* Toggle Wave top */
.fullscreen-menu .menu-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

.fullscreen-menu .menu-wave img {
  width: 100%;
  height: auto;
  display: block;
  animation: waveFadeIn 1s ease forwards;
  opacity: 0;
}

.fullscreen-menu.animating-in .menu-wave img {
  animation: waveFadeIn 1s ease forwards;
}

@keyframes waveFadeIn {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hide element on Tablet/Phone */
@media only screen and (max-width:850px) {
  #theme-toggle {
    top: 40px;
    right: 100px;
  }
}