/* light/dark theme variables */

.light-theme {
  --bg-color: var(--grey);
  --text-color: var(--dark);
  --h1-color: var(--dark);
}

.dark-theme {
  --bg-color: var(--dark);
  --text-color: var(--grey);
  --h1-color: var(--grey);
  --switch-bg: var(--dark);
  --switch-circle: var(--yellow-light);
}

/* Hide element on Tablet/Phone */
@media only screen and (max-width:850px) {
 
}