/* light/dark theme variables */

.light-theme {
  --bg-color: var(--grey);
  --img-item-bg-color: var(--dark);
  --text-color: var(--dark);
  --h1-color: var(--dark);
  --h2-color: var(--dark);
  --h3-color: var(--dark);
  --footer-bg: var(--dark);
  --footer-text-color: var(--grey);
  --menu-color: var(--dark);
  --menu-hover-color: var(--teal);
  --menu-border-color: var(--dark);
  --switch-bg: var(--yellow-light);
  --switch-circle: var(--dark); 
  --circle-border: 2px solid var(--dark);
  color: var(--wave-color-light); 
}

.dark-theme {
  --bg-color: var(--dark);
  --img-item-bg-color: var(--grey);
  --text-color: var(--grey);
  --h1-color: var(--grey);
  --h2-color: var(--grey);
  --h3-color: var(--grey);
  --switch-bg: var(--dark);
  --switch-circle: var(--yellow-light);
  --footer-bg: var(--teal-light);
  --footer-text-color: var(--dark);
  --menu-color: var(--grey);
  --menu-hover-color: var(--teal);
  --menu-border-color: var(--grey);
  color: var(--wave-color-dark); 
}