/* resets, variables, fonts, global tags */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --grey: #D3D9D4;
  --dark: #0D0D0D;
  --teal: #3B8A7F;
  --teal-light: #7BB8AB;
  --yellow: #E8C86E;
  --yellow-light: #F1E9A5;

  --switch-bg: var(--yellow-light);
  --switch-circle: var(--dark);
  --circle-border: 2px solid var(--dark);

  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --h1-font: var(--font-sans);
  --body-font: var(--font-serif);

  --h1-font-size: 100px;
  --h1-color: var(--dark);
  --h1-font-weight: 600;
  --h1-line-height: 120px;

  --h2-font-size: 70px;
  --h2-color: var(--dark);
  --h2-font-weight: 600;
  --h2-line-height: 80px;

  --h3-font-size: 40px;
  --h3-color: var(--dark);
  --h3-font-weight: 600;
  --h3-line-height: 50px;

  --p-font-size: 20px;
  --p-line-height: 40px;
  --link-color: var(--teal);
  --link-hover-color: var(--teal-light);

  --footer-bg: var(--dark);
  --footer-text-color: var(--grey);

  --nav-font: var(--font-sans);
  --nav-font-weight: normal;
  --nav-font-size: 90px;

  --wave-color-light: var(--dark);
  --wave-color-dark: var(--grey);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-font-size);
  color: var(--h1-color);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  max-width: 800px;
  margin-bottom: 60px;
  text-align: left;
  transition: color 0.3s;
}

h2 {
  font-family: var(--h1-font);
  font-size: var(--h2-font-size);
  color: var(--h2-color);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
  text-align: left;
  transition: color 0.3s;
}

h3 {
  font-family: var(--h1-font);
  font-size: var(--h3-font-size);
  color: var(--h3-color);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  margin: 45px 0 45px 0;
  text-transform: uppercase;
  transition: color 0.3s;
}

p {
  font-family: var(--body-font);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  margin-bottom: 1em;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.4s ease-in;
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
  transition: color 0.4s ease-out;
}

/* Hide element on Tablet/Phone */
@media only screen and (max-width:850px) {
  h1 {
    font-size: 70px;
    line-height: 85px;
    text-align: center;
  }

  h2 {
    font-size:  50px;
    line-height: 65px;
    text-align: center;
  }

  h3 {
    font-size:  30px;
    line-height: 40px;
    text-align: center;
  }
}
